{% extends "home/base.html" %}
{% load crispy_forms_tags %}
{% load static %}




	{% block content%}

		<div class="row">
			
			<div class="col d-flex justify-content-end">
				
				<div class="card text-dark text-center bg-warning mt-3" id="flash-message" style="max-width: 12rem; height: 140px;">
				  <div class="card-body">
				    
				    <p class="card-text">Must enter valid<br>accession number first</p>
				  </div>
				</div>			

			</div>
			
		</div>

		<div class="container" id="storage-manager-title">
			
			<div class="row">
				
				<p id="rack-storage-manager">STORAGE MANAGER</p>

			</div>
			
		</div>

			
		<div class="container" id="storage-container">
			<div class="row" id="grid-row">

				<div class="col-1" style="max-width: 3%;">

					<div class="row">
						
					</div>
					<div class="row" style="margin-top: 42px;">
						<h6 class="ms-2">1</h6>
					</div>
					<div class="row">
						<h6 class="ms-2">2</h6>
					</div>

					<div class="row">
						<h6 class="ms-2">3</h6>
					</div>										

					<div class="row">
						<h6 class="ms-2">4</h6>
					</div>

					<div class="row">
						<h6 class="ms-2">5</h6>
					</div>										
					<div class="row">
						<h6 class="ms-2">6</h6>
					</div>

					<div class="row">
						<h6 class="ms-2">7</h6>
					</div>										
					<div class="row">
						<h6 class="ms-2">8</h6>
					</div>

					<div class="row">
						<h6 class="ms-2">9</h6>
					</div>										
					<div class="row">
						<h6>10</h6>
					</div>

					<div class="row">
						<h6>11</h6>
					</div>

					<div class="row">
						<h6>12</h6>
					</div>										
					<div class="row">
						<h6>13</h6>
					</div>

					<div class="row">
						<h6>14</h6>
					</div>										
					<div class="row">
						<h6>15</h6>
					</div>

								

								



					
				</div>
				<div class="col" id="specimen-grid">


					<div class="rack-rows" style="background-color: white">
						
						<div>
							<h6>A</h6>
						</div>

						<div class="alpha-top-grid" id="user{{user_selected_accession}}">
							<h6>B</h6>
						</div>

						<div class="alpha-top-grid">
							<h6>C</h6>
						</div>

						<div class="alpha-top-grid">
							<h6>D</h6>
						</div>

						<div class="alpha-top-grid">
							<h6>E</h6>
						</div>

						<div class="alpha-top-grid">
							<h6 >F</h6>
						</div>

						<div class="alpha-top-grid">
							<h6>G</h6>
						</div>

						<div class="alpha-top-grid">
							<h6>H</h6>
						</div>

						<div class="alpha-top-grid">
							<h6>I</h6>
						</div>

						<div class="alpha-top-grid">
							<h6>J</h6>
						</div>

						<div class="alpha-top-grid">
							<h6>K</h6>
						</div>

						<div class="alpha-top-grid">
							<h6>L</h6>
						</div>

					</div>


					
					<div class="rack-rows" style="border-top-right-radius: 5px;">

						
						{% for object in hematology_first_rack_one_objects %}
									
							{% if object.position == "a1" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "b1" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "c1" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "d1" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "e1" %}
									<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>


							{% elif object.position == "f1" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "g1" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "h1" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "i1" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "j1" %}
									<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

							{% elif object.position == "k1" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "l1" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									


									

							{% endif %}

						{% endfor %}

					</div>



					<div class="rack-rows">
						


						{% for object in hematology_first_rack_one_objects %}
									
							{% if object.position == "a2" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "b2" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "c2" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "d2" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "e2" %}
									<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>


							{% elif object.position == "f2" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "g2" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "h2" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "i2" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "j2" %}
									<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

							{% elif object.position == "k2" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "l2" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									


									

							{% endif %}

						{% endfor %}

					</div>


					<div class="rack-rows" id="row-three">
						


						{% for object in hematology_first_rack_one_objects %}
									
							{% if object.position == "a3" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "b3" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "c3" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "d3" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "e3" %}
									<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>


							{% elif object.position == "f3" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "g3" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "h3" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "i3" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "j3" %}
									<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

							{% elif object.position == "k3" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "l3" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									

													

							{% endif %}

						{% endfor %}

					</div>	




					<div class="rack-rows" id="row-four">
						


						{% for object in hematology_first_rack_one_objects %}
									
							{% if object.position == "a4" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "b4" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "c4" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "d4" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "e4" %}
									<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>


							{% elif object.position == "f4" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "g4" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "h4" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "i4" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "j4" %}
									<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

							{% elif object.position == "k4" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "l4" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>


													

							{% endif %}

						{% endfor %}

					</div>	





					<div class="rack-rows" id="row-five">
						


						{% for object in hematology_first_rack_one_objects %}
									
							{% if object.position == "a5" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "b5" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "c5" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "d5" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "e5" %}
									<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>


							{% elif object.position == "f5" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "g5" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "h5" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "i5" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "j5" %}
									<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

							{% elif object.position == "k5" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "l5" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>


													

							{% endif %}

						{% endfor %}

					</div>	






					<div class="rack-rows" id="row-six">
						


						{% for object in hematology_first_rack_one_objects %}
									
							{% if object.position == "a6" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "b6" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "c6" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "d6" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "e6" %}
									<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>


							{% elif object.position == "f6" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "g6" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "h6" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "i6" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "j6" %}
									<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

							{% elif object.position == "k6" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "l6" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									

													

							{% endif %}

						{% endfor %}

					</div>	



					<div class="rack-rows" id="row-seven">
						


						{% for object in hematology_first_rack_one_objects %}
									
							{% if object.position == "a7" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "b7" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "c7" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "d7" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "e7" %}
									<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>


							{% elif object.position == "f7" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "g7" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "h7" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "i7" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "j7" %}
									<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

							{% elif object.position == "k7" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "l7" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
													

							{% endif %}

						{% endfor %}

					</div>	


					<div class="rack-rows" id="row-eight">
						


						{% for object in hematology_first_rack_one_objects %}
									
							{% if object.position == "a8" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "b8" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "c8" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "d8" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "e8" %}
									<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>


							{% elif object.position == "f8" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "g8" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "h8" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "i8" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "j8" %}
									<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

							{% elif object.position == "k8" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "l8" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									

													

							{% endif %}

						{% endfor %}

					</div>	







					<div class="rack-rows" id="row-nine">
						


						{% for object in hematology_first_rack_one_objects %}
									
							{% if object.position == "a9" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "b9" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "c9" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "d9" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "e9" %}
									<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>


							{% elif object.position == "f9" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "g9" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "h9" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "i9" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "j9" %}
									<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

							{% elif object.position == "k9" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "l9" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									

													

							{% endif %}

						{% endfor %}

					</div>	



					<div class="rack-rows" id="row-ten">
						


						{% for object in hematology_first_rack_one_objects %}
									
							{% if object.position == "a10" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "b10" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "c10" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "d10" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "e10" %}
									<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>


							{% elif object.position == "f10" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "g10" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "h10" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "i10" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "j10" %}
									<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

							{% elif object.position == "k10" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "l10" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									

													

							{% endif %}

						{% endfor %}

					</div>	



					<div class="rack-rows" id="row-eleven">
						


						{% for object in hematology_first_rack_one_objects %}
									
							{% if object.position == "a11" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "b11" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "c11" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "d11" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "e11" %}
									<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>


							{% elif object.position == "f11" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "g11" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "h11" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "i11" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "j11" %}
									<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

							{% elif object.position == "k11" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "l11" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>



							{% endif %}

						{% endfor %}

					</div>	





					<div class="rack-rows" id="row-twelve">
						


						{% for object in hematology_first_rack_one_objects %}
									
							{% if object.position == "a12" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "b12" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "c12" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "d12" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "e12" %}
									<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>


							{% elif object.position == "f12" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "g12" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "h12" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "i12" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "j12" %}
									<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

							{% elif object.position == "k12" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "l12" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									

													

							{% endif %}

						{% endfor %}

					</div>	



					<div class="rack-rows" id="row-thirteen">
						


						{% for object in hematology_first_rack_one_objects %}
									
							{% if object.position == "a13" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "b13" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "c13" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "d13" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "e13" %}
									<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>


							{% elif object.position == "f13" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "g13" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "h13" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "i13" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "j13" %}
									<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

							{% elif object.position == "k13" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "l13" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>


													

							{% endif %}

						{% endfor %}

					</div>	








					<div class="rack-rows" id="row-fourteen">
						


						{% for object in hematology_first_rack_one_objects %}
									
							{% if object.position == "a14" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "b14" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "c14" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "d14" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "e14" %}
									<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>


							{% elif object.position == "f14" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "g14" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "h14" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "i14" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "j14" %}
									<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

							{% elif object.position == "k14" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "l14" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>


													

							{% endif %}

						{% endfor %}

					</div>	



					<div class="rack-rows" id="row-fifteen">
						


						{% for object in hematology_first_rack_one_objects %}
									
							{% if object.position == "a15" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "b15" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "c15" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "d15" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "e15" %}
									<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>


							{% elif object.position == "f15" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "g15" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "h15" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "i15" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "j15" %}
									<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

							{% elif object.position == "k15" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "l15" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>


													

							{% endif %}

						{% endfor %}

					</div>	




				</div>
				<div class="col"></div>
				<div class="col"></div>
				<div class="col-4">
					
					<form method="POST" id="accession-form">
						{% csrf_token %}

					    <label for="accession-number" class="form-label">Enter Accession Number Followed By Tubetype</label>
					    
					    <input type="search" class="form-control" id="accession-number">

					    <!-- <button class="btn btn-primary" type="submit">Submit</button> -->
					</form>
					<button type="button" class="btn btn-success mt-3" id="lock"><span id="button-accession">M11111</span><img src="media/images/unlocked.png" id="lock-img"class="lock-img ms-1"></button>
					<h3 id="lock-error"></h3>



					<div class="card mt-5">
					  <div class="card-header">
					    Patient Information
					  </div>
					  <div class="card-body">
						<table class="table">
						  
						  <tbody>
						    <tr>
						      
						      <td scope="col">Medical Record Number</td>
						      <td scope="col"></td>
						      <td scope="col" id="medical-record-number"></td>
						    </tr>						  	
						    <tr>
						      
						      <td>Accession Number</td>
						      <td></td>
						      <td id='table-accession-number'></td>
						    </tr>
						    <tr>
						      
						      <td>Patient Name</td>
						      <td></td>
						      <td id="patient-name"></td>
						    </tr>

						  </tbody>
						</table>
					  </div>
					</div>




					<!-- Button trigger modal -->
					<button type="button" class="btn btn-primary mt-3" id="delete-button" data-bs-toggle="modal" data-bs-target="#removeAllModal">
					  Remove All
					</button>

					<form method="POST" id="remove-single-patient">
						
						{% csrf_token %}
						<input type="hidden" id="remove-single-patient-hidden" name="remove-single" value="">
						
						<button class="btn btn-primary" type="submit" id="single-remove-button">Submit</button>

					</form>

					<!-- Modal -->
					<div class="modal fade" id="removeAllModal" tabindex="-1" aria-labelledby="removeAllModalLabel" aria-hidden="true">
					  <div class="modal-dialog">
					    <div class="modal-content">
					      <div class="modal-header">
					        
					        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					      </div>
					      <div class="modal-body" id="remove-all-body">

					      </div>
					    </div>
					  </div>
					</div>
				

				</div>


			</div>
		</div>




	{% endblock content %}