{% extends "home/base.html" %}
{% load crispy_forms_tags %}
{% load static %}




	{% block content%}

		<div class="row">
			<a class="nav-link active me-5" href="{% url 'home_page' %}">Login</a>
			<div class="col d-flex justify-content-end">
				
				<div class="card text-dark text-center bg-warning mt-3" id="flash-message" style="max-width: 12rem; height: 140px;">
				  <div class="card-body">
				    
				    <p class="card-text">Must enter valid<br>accession number first</p>
				  </div>
				</div>			

			</div>
			
		</div>


				
		<div class="container">
			<div class="row" id="grid-row">
				<div class="col-4" id="specimen-grid">

					<div id="row-alpha">

						<div>
							<h6>A</h6>
						</div>

						<div class="alpha-top-grid" id="user{{user_selected_accession}}">
							<h6>B</h6>
						</div>

						<div class="alpha-top-grid">
							<h6>C</h6>
						</div>

						<div class="alpha-top-grid">
							<h6>D</h6>
						</div>

						<div class="alpha-top-grid">
							<h6>E</h6>
						</div>


					</div>

					
					<div id="row-one">
						<h6 id="number-one">1</h6>
						{% for object in hematology_first_rack_one_objects %}
									
							{% if object.position == "a1" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "b1" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "c1" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "d1" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "e1" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
													

							{% endif %}

						{% endfor %}

					</div>



					<div id="row-two">
						<h6 id="number-two">2</h6>


						{% for object in hematology_first_rack_one_objects %}
									
							{% if object.position == "a2" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "b2" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "c2" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "d2" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "e2" %}
									<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
													

							{% endif %}

						{% endfor %}

					</div>	




				</div>
				<div class="col-3"></div>
				<div class="col-4">
					
					<form method="POST" id="accession-form">
						{% csrf_token %}

					    <label for="accession-number" class="form-label">Enter Accession Number Followed By Tubetype</label>
					    
					    <input type="search" class="form-control" id="accession-number">

					    <!-- <button class="btn btn-primary" type="submit">Submit</button> -->
					</form>
					<button type="button" class="btn btn-success mt-3" id="lock">Lock</button>
					<h3 id="lock-error"></h3>

					<div class="card mt-5">
					  <div class="card-header">
					    Patient Information
					  </div>
					  <div class="card-body">
						<table class="table">
						  
						  <tbody>
						    <tr>
						      
						      <td scope="col">Medical Record Number</td>
						      <td scope="col"></td>
						      <td scope="col" id="medical-record-number"></td>
						    </tr>						  	
						    <tr>
						      
						      <td>Accession Number</td>
						      <td></td>
						      <td id='table-accession-number'></td>
						    </tr>
						    <tr>
						      
						      <td>Patient Name</td>
						      <td></td>
						      <td id="patient-name"></td>
						    </tr>

						  </tbody>
						</table>
					  </div>
					</div>




					<!-- Button trigger modal -->
					<button type="button" class="btn btn-primary mt-3" id="delete-button" data-bs-toggle="modal" data-bs-target="#removeAllModal">
					  Remove All
					</button>

					<form method="POST" id="remove-single-patient">
						
						{% csrf_token %}
						<input type="hidden" id="remove-single-patient-hidden" name="remove-single" value="">
						
						<button class="btn btn-primary" type="submit" id="single-remove-button">Submit</button>

					</form>

					<!-- Modal -->
					<div class="modal fade" id="removeAllModal" tabindex="-1" aria-labelledby="removeAllModalLabel" aria-hidden="true">
					  <div class="modal-dialog">
					    <div class="modal-content">
					      <div class="modal-header">
					        
					        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					      </div>
					      <div class="modal-body" id="remove-all-body">

					      </div>
					    </div>
					  </div>
					</div>
				

				</div>

				<div class="col">
					 
					<p id="flash-accession"><span class="ms-3 mt-2" id="accession-flash-span"></span></p>
				</div>

			</div>
		</div>




	{% endblock content %}