{% extends "home/base.html" %}
{% load crispy_forms_tags %}
{% load static %}




	{% block content%}



<!-- 		<div class="container">
			<div class="row">
				<div class="col">
					
			      	<form method="POST">
			      		{% csrf_token %}
			      		{{ search_accession_form|crispy }}
			      		<button class="btn btn-primary" type="submit" id="search-accession-submit-button" name="user-search-accession">Go</button>
			      		
		      		</form>


				</div>
				<div class="col">
					 -->



					<!-- Button trigger modal -->
<!-- 					<button type="button" class="btn btn-secondary mt-5" data-bs-toggle="modal" data-bs-target="#rackselectionModal">
					  Check In
					</button> -->

					<!-- Modal -->
<!-- 					<div class="modal fade" id="rackselectionModal" tabindex="-1" aria-labelledby="rackselectionLabel" aria-hidden="true">
					  <div class="modal-dialog">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h5 class="modal-title" id="rackselectionLabel">Chose Location</h5>
					        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					      </div>
					      <div class="modal-body">
					      	<form method="POST">
		
								<div class="input-group mb-3">
									{% csrf_token %}
									{{ rack_selection_form.accession_search}}
								</div>

					      		<button class="btn btn-primary" type="submit" id="rack-choice-submit-button" name="user-rack-choice">Go</button>
					      		
				      		</form>
					      </div>

					    </div>
					  </div>
					</div>


				</div>
				<div class="col"></div>

			</div>
		</div>
 -->

<!-- 
		<div class="container">
			<div class="row" id="grid-row">
				<div class="col" id="specimen-grid">

					<div id="row-alpha">

						<div>
							<h6>A</h6>
						</div>

						<div class="alpha-top-grid">
							<h6>B</h6>
						</div>

						<div class="alpha-top-grid">
							<h6>C</h6>
						</div>

						<div class="alpha-top-grid">
							<h6>D</h6>
						</div>

						<div class="alpha-top-grid">
							<h6>E</h6>
						</div>


					</div>
					
					<div id="row-one">
						<h6 id="number-one">1</h6>
						<div class="box blank" id="a1"><p class="tubetype"></p></div>
						<div class="box blank" id="b1"><p class="tubetype"></p></div>
						<div class="box blank" id="c1"><p class="tubetype"></p></div>
						<div class="box blank" id="d1"><p class="tubetype"></p></div>
						<div class="box blank" id="e1"><p class="tubetype"></p></div>
					</div>

					<div id="row-two">
						<h6 id="number-two">2</h6>
						<div class="box blank" id="a2"><p class="tubetype"></p></div>
						<div class="box blank" id="b2"><p class="tubetype"></p></div>
						<div class="box blank" id="c2"><p class="tubetype"></p></div>
						<div class="box blank" id="d2"><p class="tubetype"></p></div>
						<div class="box blank" id="e2"><p class="tubetype"></p></div>
					</div>	

				</div>
				<div class="col"></div>
				<div class="col">
					
					<form method="POST" id="accession-form">
						{% csrf_token %}

					    <label for="accession-number" class="form-label">Enter Accession Number Followed By Tubetype</label>
					    <input type="search" class="form-control" id="accession-number">
					    <button class="btn btn-primary" type="submit">Submit</button>
					</form>

					<div class="card mt-5">
					  <div class="card-header">
					    Patient Information
					  </div>
					  <div class="card-body">
						<table class="table">
						  
						  <tbody>
						    <tr>
						      
						      <td scope="col">Medical Record Number</td>
						      <td scope="col"></td>
						      <td scope="col" id="medical-record-number"></td>
						    </tr>						  	
						    <tr>
						      
						      <td>Accession Number</td>
						      <td></td>
						      <td id='table-accession-number'></td>
						    </tr>
						    <tr>
						      
						      <td>Patient Name</td>
						      <td></td>
						      <td id="patient-name"></td>
						    </tr>

						  </tbody>
						</table>
					  </div>
					</div>					

				</div>
			</div>
		</div> -->




	<div class="container">
		<div class="row">
			
			<div class="col">
				<button type="button" class="btn btn-primary rounded-1 mt-4" id="batch"><i class="bi bi-pencil-square me-2" id="pencil"></i>CREATE A NEW BATCH</button>

				<button type="button" class="btn btn-primary rounded-1 mt-4" id="batch_two"><i class="bi bi-check-circle me-2" id="checkmark"></i>SPECIMEN CHECK-IN</button>

				<button type="button" class="btn btn-primary rounded-1 mt-4" id="batch_three" data-bs-toggle="modal" data-bs-target="#rackselectionModal"><i class="bi bi-archive me-2" id="archive"></i>STORAGE MANAGER</button>

			</div>
		
		</div>

		<div class="modal fade" id="rackselectionModal" tabindex="-1" aria-labelledby="rackselectionLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="rackselectionLabel">Chose Location</h5>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		      </div>
		      <div class="modal-body">
		      	<form method="POST">

					<div class="input-group mb-3">
						{% csrf_token %}
						{{ rack_selection_form|crispy}}
					</div>

		      		<button class="btn btn-primary" type="submit" id="rack-choice-submit-button" name="user-rack-choice">Go</button>
		      		
	      		</form>
		      </div>

		    </div>
		  </div>
		</div>




		<div class="row">
			
			<div class="col mt-4" id="car-col">
				
					
				<img src="media/images/drive.png" id="car">
				<p class="mt-4 "id="outstanding">0 Outstanding Batches for Core Lab</p>

	
			</div>
			<div class="col mt-4" id="car-col-two"></div>
			<div class="col mt-4" id="car-col-three">
			
				<p class="d-flex justify-content-end mt-3"><small>Last Checked at 19:20</small></p>
			
			</div>

		</div>

		<div class="row">
			
			<div class="col" id="table-col">
				
				<table class="table">
				  <thead>
				    <tr>
				      
				      <th scope="col">STATUS</th>
				      <th scope="col">NUMBER</th>
				      <th scope="col">ORIGIN</th>
				      <th scope="col">DESTINATION</th>
				      <th scope="col">SENT AT</th>
				      <th scope="col">SPECIMENS</th>
				      <th scope="col">TEMPERATURE</th>

				    </tr>
				  </thead>
				  <tbody>

				    				    				    
				  </tbody>
				</table>

				<div class="col mb-4" id="inside-table">
					
				</div>

			</div>
		</div>

		<p class="centered">No Rows To Show</p>

	</div>	



	{% endblock content %}