{% extends "home/base.html" %}
{% load crispy_forms_tags %}
{% load static %}




	{% block content%}

		<div class="row">
			
			<div class="col d-flex justify-content-end">
				
<!-- 				<div class="card text-dark text-center bg-warning mt-3" id="flash-message" style="max-width: 12rem; height: 140px;">
				  <div class="card-body">
				    
				    <p class="card-text">Must enter valid<br>accession number first</p>
				  </div>
				</div>	 -->	

				<div class="alert alert-danger mt-5" id="accession-alert" role="alert" style="visibility: hidden;">
				  Must Enter Valid Accession Number First
				</div>					

			</div>
			
		</div>


		<div class="container" id="storage-manager-title">
			
			<div class="row">
				
				<p id="rack-storage-manager">STORAGE MANAGER</p>

				<div class="alpha-top-grid" id="user{{user_selected_accession}}"></div>


			</div>
			
		</div>

				
		<div class="container" id="storage-container">
			<div class="row" id="grid-row">



				<div class="col" id="specimen-grid">



					<div class="num_rows" style="background-color: white;">

						<div class="alphanumber"><h6 class="ms-2"></h6></div>
						<div class="alphanumber"><h6 class="ms-2">A</h6></div>
						<div class="alphanumber"><h6 class="ms-2">B</h6></div>
						<div class="alphanumber"><h6 class="ms-2">C</h6></div>
						<div class="alphanumber"><h6 class="ms-2">D</h6></div>
						<div class="alphanumber"><h6 class="ms-2">E</h6></div>
						<div class="alphanumber"><h6 class="ms-2">F</h6></div>
						<div class="alphanumber"><h6 class="ms-2">G</h6></div>
						<div class="alphanumber"><h6 class="ms-2">H</h6></div>
						<div class="alphanumber"><h6 class="ms-2">I</h6></div>
						<div class="alphanumber"><h6 class="ms-1">J</h6></div>
						<div class="alphanumber"><h6 class="ms-1">K</h6></div>
						<div class="alphanumber"><h6 class="ms-1">L</h6></div>
						<div class="alphanumber"><h6 class="ms-1">M</h6></div>
						<div class="alphanumber"><h6 class="ms-1">N</h6></div>


					</div>


					<div class="rack-rows">

						<div class="alphanumber"><h6 class="ms-2">1</h6></div>

						
						{% for object in rack_objects %}


									
							{% if object.position == "A1" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "B1" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "C1" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "D1" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "E1" %}
									<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>


							{% elif object.position == "F1" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "G1" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "H1" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "I1" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "J1" %}
									<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

							{% elif object.position == "K1" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "L1" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "M1" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "N1" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									

							{% endif %}

						{% endfor %}

					</div>



					<div class="rack-rows">
						 
						<div class="alphanumber" id="user{{user_selected_accession}}"><h6 class="ms-2">2</h6></div>
						{% for object in rack_objects %}
									
							{% if object.position == "A2" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "B2" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "C2" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "D2" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "E2" %}
									<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>


							{% elif object.position == "F2" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "G2" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "H2" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "I2" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "J2" %}
									<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

							{% elif object.position == "K2" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "L2" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "M2" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "N2" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									

							{% endif %}

						{% endfor %}

					</div>


					<div class="rack-rows" id="row-three">
						 

						<div class="alphanumber"><h6 class="ms-2">3</h6></div>
						{% for object in rack_objects %}
									
							{% if object.position == "A3" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "B3" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "C3" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "D3" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "E3" %}
									<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>


							{% elif object.position == "F3" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "G3" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "H3" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "I3" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "J3" %}
									<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

							{% elif object.position == "K3" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "L3" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "M3" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "N3" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
													

							{% endif %}

						{% endfor %}

					</div>	




					<div class="rack-rows" id="row-four">
						 
						<div class="alphanumber"><h6 class="ms-2">4</h6></div>
						{% for object in rack_objects %}
									
							{% if object.position == "A4" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "B4" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "C4" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "D4" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "E4" %}
									<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>


							{% elif object.position == "F4" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "G4" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "H4" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "I4" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "J4" %}
									<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

							{% elif object.position == "K4" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "L4" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "M4" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "N4" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
													

							{% endif %}

						{% endfor %}

					</div>	





					<div class="rack-rows" id="row-five">
						 
						<div class="alphanumber"><h6 class="ms-2">5</h6></div>
						{% for object in rack_objects %}
									
							{% if object.position == "A5" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "B5" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "C5" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "D5" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "E5" %}
									<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>


							{% elif object.position == "F5" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "G5" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "H5" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "I5" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "J5" %}
									<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

							{% elif object.position == "K5" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "L5" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "M5" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "N5" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
													

							{% endif %}

						{% endfor %}

					</div>	






					<div class="rack-rows" id="row-six">
						
						<div class="alphanumber"><h6 class="ms-2">6</h6></div>
						{% for object in rack_objects %}
									
							{% if object.position == "A6" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "B6" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "C6" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "D6" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "E6" %}
									<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>


							{% elif object.position == "F6" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "G6" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "H6" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "I6" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "J6" %}
									<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

							{% elif object.position == "K6" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "L6" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "M6" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "N6" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
													

							{% endif %}

						{% endfor %}

					</div>	



					<div class="rack-rows" id="row-seven">
						 
						<div class="alphanumber"><h6 class="ms-2">7</h6></div>

						{% for object in rack_objects %}
									
							{% if object.position == "A7" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "B7" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "C7" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "D7" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "E7" %}
									<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>


							{% elif object.position == "F7" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "G7" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "H7" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "I7" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "J7" %}
									<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

							{% elif object.position == "K7" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "L7" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "M7" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "N7" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
													

							{% endif %}

						{% endfor %}

					</div>	


					<div class="rack-rows" id="row-eight">
						 

						<div class="alphanumber"><h6 class="ms-2">8</h6></div>
						{% for object in rack_objects %}
									
							{% if object.position == "A8" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "B8" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "C8" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "D8" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "E8" %}
									<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>


							{% elif object.position == "F8" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "G8" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "H8" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "I8" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "J8" %}
									<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

							{% elif object.position == "K8" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "L8" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "M8" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "N8" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
													

							{% endif %}

						{% endfor %}

					</div>	







					<div class="rack-rows" id="row-nine">
						 
						<div class="alphanumber"><h6 class="ms-2">9</h6></div>
						{% for object in rack_objects %}
									
							{% if object.position == "A9" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "B9" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "C9" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "D9" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "E9" %}
									<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>


							{% elif object.position == "F9" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "G9" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "H9" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "I9" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "J9" %}
									<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

							{% elif object.position == "K9" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "L9" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "M9" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "N9" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
													

							{% endif %}

						{% endfor %}

					</div>	



					<div class="rack-rows" id="row-ten">
						

						<div class="alphanumber"><h6 class="ms-2">10</h6></div>
						{% for object in rack_objects %}
									
							{% if object.position == "A10" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "B10" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "C10" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "D10" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "E10" %}
									<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>


							{% elif object.position == "F10" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "G10" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "H10" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "I10" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "J10" %}
									<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

							{% elif object.position == "K10" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "L10" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "M10" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "N10" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
													

							{% endif %}

						{% endfor %}

					</div>	



					<div class="rack-rows" id="row-eleven">
						

						<div class="alphanumber"><h6 class="ms-2">11</h6></div>
						{% for object in rack_objects %}
									
							{% if object.position == "A11" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "B11" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "C11" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "D11" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "E11" %}
									<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>


							{% elif object.position == "F11" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "G11" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "H11" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "I11" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "J11" %}
									<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

							{% elif object.position == "K11" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "L11" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "M11" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "N11" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
													

							{% endif %}

						{% endfor %}

					</div>	





					<div class="rack-rows" id="row-twelve">
						

						<div class="alphanumber"><h6 class="ms-2">12</h6></div>
						{% for object in rack_objects %}
									
							{% if object.position == "A12" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "B12" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "C12" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "D12" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "E12" %}
									<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>


							{% elif object.position == "F12" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "G12" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "H12" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "I12" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "J12" %}
									<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

							{% elif object.position == "K12" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "L12" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "M12" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "N12" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
													

							{% endif %}

						{% endfor %}

					</div>	



					<div class="rack-rows" id="row-thirteen">
						

						<div class="alphanumber"><h6 class="ms-2">13</h6></div>
						{% for object in rack_objects %}
									
							{% if object.position == "A13" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "B13" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "C13" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "D13" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "E13" %}
									<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>


							{% elif object.position == "F13" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "G13" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "H13" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "I13" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "J13" %}
									<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

							{% elif object.position == "K13" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "L13" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "M13" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "N13" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
													

							{% endif %}

						{% endfor %}

					</div>	








					<div class="rack-rows" id="row-fourteen">
						
						<div class="alphanumber"><h6 class="ms-2">14</h6></div>

						{% for object in rack_objects %}
									
							{% if object.position == "A14" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "B14" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "C14" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "D14" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "E14" %}
									<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>


							{% elif object.position == "F14" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "G14" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "H14" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "I14" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "J14" %}
									<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

							{% elif object.position == "K14" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "L14" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "M14" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "N14" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
													

							{% endif %}

						{% endfor %}

					</div>	



					<div class="rack-rows" id="row-fifteen">
						

						<div class="alphanumber"><h6 class="ms-2">15</h6></div>
						{% for object in rack_objects %}
									
							{% if object.position == "A15" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "B15" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "C15" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "D15" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "E15" %}
									<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>


							{% elif object.position == "F15" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "G15" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "H15" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "I15" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "J15" %}
									<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

							{% elif object.position == "K15" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "L15" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "M15" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "N15" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
													

							{% endif %}

						{% endfor %}

					</div>	




				</div>
				<div class="col"></div>
				<div class="col"></div>
				<div class="col-4">
					
					
											

					<form method="POST" id="accession-form" style="margin-bottom: -30px;">

						<label for="accession-number" class="form-label fw-bold" >Scan or Type Input</label>
						<div class="input-group">
							
							{% csrf_token %}
						    
						    <input type="search" class="form-control" id="accession-number-or-tubetype" placeholder="Scan or Type" style="border-radius: 3px; width: 90%;">

							<button type="button" class="btn btn-success ms-2" id="lock_one"><span id="button-accession">M11111</span></button>
							<button type="button" class="btn btn-success ms-2" id="lock"><i class="bi bi-unlock-fill me-1" id="unlocked-image"></i><span id="button-tubetype">M11111</span></button>
							



						</div>


					</form>

					<h3 id="lock-error"></h3>
						



					<p class="fw-bold">Current Storage Location <span><i class="bi bi-cursor-fill"></i></span></p>






					<table class="table" style="border: 1px solid #ced4da;">
					  
					  <tbody>
					    <tr>
					      <td>Name:</td>
					      <td class="fw-bold" style="text-align: right;">{{rack_name}}</td>

					    </tr>						  	
					    <tr>
					      <td>Code:</td>
					      <td class="fw-bold" style="text-align: right;">1111</td>	
					    </tr>
					    <tr>
					      <td>Size:</td>
					      <td style="text-align: right;">12x8, 216 spots, <span class="fw-bold">{{spots_available}} still available</span></td>					      
					    </tr>

					  </tbody>
					</table>




					<i class="bi bi-check"></i><span class="fw-light">Saved at 2100</span><span>
						

						<button class="ms-5" id="change-location">CHANGE LOCATION</button>
						<button id="delete-button" data-bs-toggle="modal" data-bs-target="#removeAllModal">
						  DISPOSE ALL
						</button>						

					</span>





					<form method="POST" id="remove-single-patient">
						
						{% csrf_token %}
						<input type="hidden" id="remove-single-patient-hidden" name="remove-single" value="">
						
						<button class="btn btn-primary" type="submit" id="single-remove-button">Submit</button>

					</form>

					<!-- Modal -->
					<div class="modal fade" id="removeAllModal" tabindex="-1" aria-labelledby="removeAllModalLabel" aria-hidden="true">
					  <div class="modal-dialog">
					    <div class="modal-content">
					      <div class="modal-header">
					        
					        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					      </div>
					      <div class="modal-body" id="remove-all-body">

					      </div>
					    </div>
					  </div>
					</div>
				
					<p class="fw-bold mt-3">Currently Selected Position</p>
					<table class="table" style="border: 1px solid #ced4da;">
					  
					  <tbody>
					    <tr>
					      <td>Position</td>
					      <td class="fw-bold" style="text-align: right; white-space: nowrap;" id="current-position"></td>
					    </tr>
					    <tr id="patient-name-row">
					    </tr>
					    <tr id="patient-demographics">	
					    </tr>
					    <tr id="stored-info">
					    </tr>						  			    
					  </tbody>
					</table>



				</div>

			</div>
		</div>



	{% endblock content %}