{% extends "home/base.html" %}
{% load crispy_forms_tags %}
{% load static %}








	{% block content%}

		<div class="row">
			
			<div class="col d-flex justify-content-end">
				
				<div class="card text-dark text-center bg-warning mt-3" id="flash-message" style="max-width: 12rem; height: 140px;">
				  <div class="card-body">
				    
				    <p class="card-text">Must enter valid<br>accession number first</p>
				  </div>
				</div>			

			</div>
			
		</div>

		<div class="container" id="storage-manager-title">
			
			<div class="row">
				
				<p id="rack-storage-manager">STORAGE MANAGER</p>

			</div>
			
		</div>

		<div class="container" id="storage-container">
			
			<div class="row">
				<div class="col-1"></div>
				<div class="col-5">
					
					<h6 class="ms-3">A</h6>
					<h6 class="ms-3">B</h6>
					<h6 class="ms-2">C</h6>

				</div>
			</div>

			<div class="row">
				
				<div class="col-1">
					<h5 class="text-end">1</h5>
					<h5 class="text-end">2</h5>
					<h5 class="text-end">3</h5>
				</div>

				<div class="col">
						{% for object in hematology_first_rack_one_objects %}
									
							{% if object.position == "a1" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}" style="display: inline-block;"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "b1" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}" style="display: inline-block;"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "c1" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}" style="display: inline-block;"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "d1" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}" style="display: inline-block;"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "e1" %}
									<div class="{{object.css_of_position}}" id="{{object.position}}" style="display: inline-block;"><p class="tubetype">{{object.tube_type}}</p></div>


							{% elif object.position == "f1" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}" style="display: inline-block;"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "g1" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}" style="display: inline-block;"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "h1" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}" style="display: inline-block;"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "i1" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}" style="display:inline-block;"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "j1" %}
									<div class="{{object.css_of_position}}" id="{{object.position}}" style="display: inline-block;"><p class="tubetype">{{object.tube_type}}</p></div>

							{% elif object.position == "k1" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}" style="display: inline-block;"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "l1" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}" style="display: inline-block;"><p class="tubetype">{{object.tube_type}}</p></div>

									


									

							{% endif %}

						{% endfor %}

						{% for object in hematology_first_rack_one_objects %}
									
							{% if object.position == "a1" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "b1" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}" style="display: inline-block;"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "c1" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}" style="display: inline-block;"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "d1" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}" style="display: inline-block;"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "e1" %}
									<div class="{{object.css_of_position}}" id="{{object.position}}" style="display: inline-block;"><p class="tubetype">{{object.tube_type}}</p></div>


							{% elif object.position == "f1" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}" style="display: inline-block;"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "g1" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}" style="display: inline-block;"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "h1" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}" style="display: inline-block;"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "i1" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}" style="display:inline-block;"><p class="tubetype">{{object.tube_type}}</p></div>

									
							{% elif object.position == "j1" %}
									<div class="{{object.css_of_position}}" id="{{object.position}}" style="display: inline-block;"><p class="tubetype">{{object.tube_type}}</p></div>

							{% elif object.position == "k1" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}" style="display: inline-block;"><p class="tubetype">{{object.tube_type}}</p></div>
									
							{% elif object.position == "l1" %}
								<div class="{{object.css_of_position}}" id="{{object.position}}" style="display: inline-block;"><p class="tubetype">{{object.tube_type}}</p></div>

									


									

							{% endif %}

						{% endfor %}





				</div>


			</div>


		</div>

			
		


	{% endblock content %}