/*
[class*="col"] {

    padding: 1rem;
    background-color: teal;
    border:  2px solid white;
    color: white;

}

*/

body{

    background-color: #ececec;
}

#specimen-grid {

    background-color: white;
    
}

#grid-row { 

    margin-top: 30vh;
}

#row-alpha {

    display: flex;
    margin-left: 30px;
}

.alpha-top-grid{

    margin-left: 32px;
}


#row-one{

    display:  flex;
}

#row-two{

    display:  flex;
}

#number-one{

    margin-top: 5px;
    margin-right: 10px;
}

#number-two{

    margin-top: 6px;
    margin-right: 7px

}


.box {
  width: 43px;
  height: 43px;
  border: 1px solid rgba(0, 0, 0, .2);
  margin-top: 2px;
  margin-left: 2px;
}


.pulse{

  animation: pulse 1s infinite;
}

.blank {

    background: #e8e5eb;
}

.edta-large {
  background: rgb(192,142,240);
  background: linear-gradient(180deg, rgba(192,142,240,1) 0%, rgba(145,55,230,1) 50%, rgba(145,55,230,1) 100%);
}

.pst-large {

    background: rgb(166,240,116);
    background: linear-gradient(180deg, rgba(166,240,116,1) 0%, rgba(14,218,13,1) 50%, rgba(14,218,13,1) 100%);
}

.serum-large {


    background: rgb(255,100,100);
    background: linear-gradient(180deg, rgba(255,100,100,1) 0%, rgba(224,8,8,1) 50%, rgba(224,8,8,1) 100%);    
}

.purple {
  background: #ab3fdd;
}

.wine {
  background: #ae163e;
}

.tubetype {

    
    margin-left: 11px;
}


@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 2px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}



#flash-message{
    
    visibility: hidden;
    
}

#flash-accession {


  visibility: hidden;
  background-color: green;
  width: 80px;
  height: 39px;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 5px;
  margin-top: 30px;
  margin-left: 2px;

}

