
/*[class*="col"] {

    padding: 1rem;
    background-color: teal !important;
    border:  2px solid white;
    color: white;

}

[class*="row"] {

    padding: 1rem;
    background-color: orange !important;
    border:  2px solid white;
    color: white;

}
*/

body{

    background: url("image/greybackground.jpg");
}





#specimen-grid {

    background-color: white;
    
}

/*#grid-row { 

    margin-top: 30vh;

}*/

#row-alpha {

    display: flex;
    margin-left: 20px;
}

/*.alpha-top-grid{

  width: 36px;
  height: 36px;
  margin-bottom: 0px;
 
  background-color: white;
}
*/

.rack-rows{

    display:  flex;
    max-width: 90%;

}


.num_rows {

    display:  flex;
    max-width: 90%;

}


.rows-two-digits{

    margin-left: -14px;
}


.box {

  border-radius: 5px;
  width: 40px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, .2);
  margin-top: 2px;
  margin-left: 2px;
}


.pulse{

  animation: pulse 1s infinite;
}

.blank {

    background: #e8e5eb;
}

.edta-large {
  background: rgb(192,142,240);
  background: linear-gradient(180deg, rgba(192,142,240,1) 0%, rgba(145,55,230,1) 50%, rgba(145,55,230,1) 100%);
}

.pst-large {

    background: rgb(166,240,116);
    background: linear-gradient(180deg, rgba(166,240,116,1) 0%, rgba(14,218,13,1) 50%, rgba(14,218,13,1) 100%);
}

.serum-large {


    background: rgb(255,100,100);
    background: linear-gradient(180deg, rgba(255,100,100,1) 0%, rgba(224,8,8,1) 50%, rgba(224,8,8,1) 100%);    
}

.alphanumber {


    border-radius: 5px;
    width: 40px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, .2);
    margin-top: 2px;
    margin-left: 2px;
    background: white;
    color: black;
    border: none;
    
}


h6 {

    font-size: 25px;
}

.purple {
  background: #ab3fdd;
}

.wine {
  background: #ae163e;
}

.tubetype {

    
    margin-left: 11px;
}


@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 2px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}



#flash-message{
    
    visibility: hidden;
    
}

#flash-accession {


  visibility: hidden;
  background-color: green;
  width: 80px;
  height: 39px;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 5px;
  margin-top: 30px;
  margin-left: 2px;

}


#nav {


  background: rgb(111,162,215);
  background: linear-gradient(180deg, rgba(111,162,215,1) 0%, rgba(58,93,131,1) 50%, rgba(58,93,131,1) 100%);

}

#navbar-title {

    color: #e3e3e3;
}

#search-icon {

    color: #c9c9c9;
}

.modal-header {
    border-bottom: 0 none;
}

#basic-addon2 {

color: white;
background-color: #6C90B7;

}

#batch {

    background-color: #3a5d83;
    padding-bottom: 11px;
    font-size: 16px;
}

#batch_two {

    background-color: #3a5d83;
    padding-bottom: 11px;
    font-size: 16px;

}

#batch_three {

    background-color: #3a5d83;
    padding-bottom: 11px;
    font-size: 16px;
}



#pencil {

    background-color: white;
    color: #3a5d83;
    font-size: 20px;
    padding-right: 4px;
    padding-left: 3px;
    border-radius: 5px;
}

#checkmark {


    
    /*color: #3a5d83;*/
    font-size: 20px;
    padding-right: 4px;
    padding-left: 3px;
    border-radius: 5px;

}

#archive {


    
   /* background-color: white;*/
    color: white;
    font-size: 20px;
    padding-right: 4px;
    padding-left: 3px;
    border-radius: 5px;

}


/*#outstanding {

    font-size: 20px;
    background-color: #ececec;
}
*/

#outstanding-column {


    
    margin-left: 0px;
    overflow:auto;
    display:block;


}



#car {

    float: left;
    margin-right: 10px;
    clear:both;
    margin-top: 23px;
}


#table-col {

    background-color: white;
}

#car-col {

    background-color: #ececec;
}

#car-col-two{

    background-color: #ececec;

}

#car-col-three{

    background-color: #ececec;

}


#inside-table {

    background-color: #e4e4e4;
    height: 50vh;
    margin-top: -26px;
    


}

#no-rows{

    
    background-color: red;



}


.centered {
  position: fixed;
  top: 50%;
  left: 49%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  background: #f1f1f1;
  border-radius: 18px;
  padding: 12px;
}

#storage-manager {

    color: white;
    text-decoration: none;
}

#rack-storage-manager {

    /*background-color: #e8e5eb;*/
    background-color: #e8e5eb;
    font-weight: bold;
   
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;    

}

#storage-container{

    background-color: white;
    max-width: 65%;
}

#storage-manager-title{


    max-width: 65%;
    margin-bottom: -0.8%;

   
}


.rows {

    background-color: white;


}

.rack-rows {

    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 6.5%, rgba(232,229,235,1) 11%, rgba(232,229,235,1) 100%);
}

#storage-manager-title{


    max-width: 65%;
    margin-bottom: -0.8%;

   
}



#lock_one {

    visibility: hidden;
    border-radius: 2px;

}

#lock {

    visibility: hidden;
    border-radius: 2px;

}



#change-location {

    background-color: #4A4444;
    color: white;
    font-size: 13px;

}



#delete-button {

    background-color: #EC6360;
    color: white;
    font-size: 13px;



}

.patient-demographics {

    visibility: hidden;

}